default_language_version:
  python: python3

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: ['--py39-plus']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [ '--maxkb=5000' ]
      # - id: check-json
      - id: check-yaml
        args: [ '--allow-multiple-documents' ]
      - id: end-of-file-fixer
      - id: forbid-submodules
      # - id: pretty-format-json
      #   args: [ '--autofix', '--no-ensure-ascii', '--no-sort-keys' ]
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [ '--config-file=.yamllint.yaml' ]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.1.0
    hooks:
      - id: isort
        args: [ '--profile=black' ]
  - repo: https://github.com/keewis/blackdoc
    rev: v0.4.3
    hooks:
      - id: blackdoc
        additional_dependencies: [ 'black==25.9.0' ]
      - id: blackdoc-autoupdate-black
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: quarterly
  skip: [ ]
  submodules: false
